header {
    margin: 5px;
    background-color: red;
    color: #FFDD22;
    width: 100%;
    font-family: Rubik;
    border: 3px solid #FFDD22;
    box-sizing: content-box;
}
.first-div {
    margin-bottom: 2px;
    margin-top: 2px;
    width: 50%;
    height: auto;
}

.first-section {
    margin: 5px;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    width: 100%;
    border-left: 3px solid #FFDD22;
    border-right: 3px solid #FFDD22;
    border-bottom: 2px solid  #FFFFFF;;
}

.img-circle {
    margin-left: 5px;
    margin-top: 8px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
p {
    margin: 5px;
    text-align: left;
    color: rgb(25, 0, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.second-section {
    margin: 5px;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(25, 0, 255);
    width: 100%;
    border-left: 3px solid #FFDD22;
    border-right: 3px solid #FFDD22;
    border-top: 2px solid  #FFFFFF;;
}
footer {
    height: auto;
    width: 100%;
    background-color: red;
}

.img-footer {
    margin: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50px;

}